ReInterfaces/src/docs/ChocolateService.wadl

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<grammars>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="unqualified">
			<xs:element name="Chocolate" type="chocolate" />
			<xs:complexType name="chocolate">
				<xs:sequence>
					<xs:element minOccurs="0" name="description" type="xs:string" />
					<xs:element minOccurs="0" name="refid" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</grammars>
	<resources base="http://localhost:8080/resolutionengine/services/rest/">
		<resource path="/chocolate">
			<resource path="/add">
				<method name="PUT">
					<request>
						<representation mediaType="application/json" />
						<representation mediaType="application/xml" />
						<representation mediaType="application/json">
							<param name="request" style="plain" type="xs:string" />
						</representation>
						<representation mediaType="application/xml">
							<param name="request" style="plain" type="xs:string" />
						</representation>
					</request>
					<response>
						<representation mediaType="application/json" />
						<representation mediaType="application/xml" />
					</response>
				</method>
			</resource>
			<resource path="/list">
				<method name="GET">
					<request>
						<representation mediaType="application/octet-stream">
							<param name="request" style="plain" type="xs:string" />
						</representation>
					</request>
					<response>
						<representation mediaType="application/json" />
						<representation mediaType="application/xml" />
					</response>
				</method>
			</resource>
			<resource path="/select">
				<method name="POST">
					<request>
						<representation mediaType="application/json">
							<param name="request" style="plain" type="xs:string" />
						</representation>
						<representation mediaType="application/xml">
							<param name="request" style="plain" type="xs:string" />
						</representation>
						<representation mediaType="text/plain">
							<param name="request" style="plain" type="xs:string" />
						</representation>
						<representation mediaType="application/json">
							<param name="request" style="plain" type="xs:string" />
						</representation>
						<representation mediaType="application/xml">
							<param name="request" style="plain" type="xs:string" />
						</representation>
						<representation mediaType="text/plain">
							<param name="request" style="plain" type="xs:string" />
						</representation>
					</request>
					<response>
						<representation mediaType="application/json" />
						<representation mediaType="application/xml" />
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application>